#cuerpo{display: block; width: 1070px; border: 1px solid #000; margin-left: 7%;}
header{ background-color: #E0CEBB; text-align: center}
input{ border:#f0f0f0 solid 1px; height: 40px; cursor: pointer;   }
.bloc{ display: block; }
#bloque{ background-color: #ddd; vertical-align: top; }
#bloque_celdas{ background-color: #fff; margin: 10px 30px 10px 30px; padding: 3px; overflow: scroll; display: block; width: 1000px; height: 500px; }
table{ width: 2000px;  }
table tr td {  text-align: center; border: #D4D4D4 solid 1px }
.cab{ cursor:pointer; font-weight: bold; }
.cab:hover{ background-color: #666 }
.celda:hover{  cursor: crosshair; border: #000 solid 1px; }
table{border: solid 1px #666}
.cuadro_texto{ height: 20px; width: 80px; background-color: #f0f0f0; }

/*
	<div id="bloque" class="row">
			<div id="bloque_celdas" class="col col-12"> 
			<table class="table table-bordered table-dark">
				<?php
					$L = array("#","A","B","C","D","E","F","G","H","I","J","K","L","M","N","Ñ","O","P","Q","R","S","T","U","V","W","X","Y","Z");	
				?>				
				<thead>
					<tr>
					<?php
					foreach($l as $valor){
						echo "<td>$valor</td>"
					}
					?>
					</tr>
				</thead>
				<tbody>
				<?php
					foreach($i, $i<=50, $i++){ ?>
					<tr>
						<th scope="row"><?php $i ?></th>
						<?php foreach($l as $valor){
							echo "<td></td>"
						}
						?>
					</tr>
					
					<?php }?>
				</tbody>
			</table>
*/